
<div class="ui menu">
    <div class="header item">
        Chebit
    </div>
    <a class="item" href="/chebit/main" id="todayHabit" name="todayHabit">
        Today Habit
    </a>
    <a class="item" href="/chebit/weekly" id="weeklyHabit" name="weeklyHabit">
        Weekly Habit
    </a>
    <a class="item" href="/chebit/list" id="habitList" name="habitList">
        Habit List
    </a>
    <div class="right menu">
        <a class="ui item" href="/logout">
            Logout
        </a>
    </div>
</div>