
{{>layer/header}}


<style>
    h1.ui.center.header {
        margin-top: 3em;
    }
</style>


<div class="ui container">
    <h1 class="ui center aligned header">Check Your Today Habit</h1>
    <form id="habitDto" class="ui form" method="post" action="/chebit/list/update/{{id}}">
<!--        <input type="hidden" name="_method" value="PATCH">-->
        {{#habit}}

        <div class="field error">
            <label>습관 이름</label>
            <input type="text" id = "title" name="title" value="{{title}}">
        </div>
        <div class="field">
            <label>시작일</label>
            <input type="text" id = "sdate" name="sdate" value="{{sdate}}" readonly>
        </div>
        <div class="field">
            <label>나의 습관 한마디</label>
            <textarea rows="2" id = "memo" name="memo">{{memo}}</textarea>
        </div>
        {{/habit}}
        <a type="button" id = "cancleBtn" class="ui button" href="/chebit/list">취소</a>
        <button type="submit" id = "formBtn" class="ui button">수정</button>
    </form>

</div>

<script type="text/javascript">



</script>

{{>layer/footer}}