
{{>layer/header}}

<div class="ui menu">
    <div class="header item">
        Chebit
    </div>
    <a class="item" href="/chebit/main">
        Today Habit
    </a>
    <a class="item">
        Monthly Habit
    </a>
    <a class="item active" href="/chebit/list">
        Habit List
    </a>
</div>
<style>
    h1.ui.center.header {
        margin-top: 3em;
    }
</style>

<!--<div class="ui cards">-->
<!--    <div class="card">-->
<!--        <div class="content">-->
<!--            <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">-->
<!--            <div class="header">-->
<!--                Elliot Fu-->
<!--            </div>-->
<!--            <div class="meta">-->
<!--                Friends of Veronika-->
<!--            </div>-->
<!--            <div class="description">-->
<!--                Elliot requested permission to view your contact details-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="extra content">-->
<!--            <div class="ui two buttons">-->
<!--                <div class="ui basic green button">Approve</div>-->
<!--                <div class="ui basic red button">Decline</div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card">-->
<!--        <div class="content">-->
<!--            <img class="right floated mini ui image" src="/images/avatar/large/jenny.jpg">-->
<!--            <div class="header">-->
<!--                Jenny Hess-->
<!--            </div>-->
<!--            <div class="meta">-->
<!--                New Member-->
<!--            </div>-->
<!--            <div class="description">-->
<!--                Jenny wants to add you to the group <b>best friends</b>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="extra content">-->
<!--            <div class="ui two buttons">-->
<!--                <div class="ui basic green button">Approve</div>-->
<!--                <div class="ui basic red button">Decline</div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="ui container">
    <h1 class="ui center aligned header">Habit List</h1>
    <div class="ui four cards">
        <div class="card">
            <div class="content">
                <div class="header">
                    Habit title !
                </div>
                <div class="meta">
                    Start Date : 2021-07-01
                </div>
                <div class="description">
                    Elliot requested permission to view your contact details
                </div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui basic green button">수정</div>
                    <div class="ui basic red button">삭제</div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="center aligned header">
                    Add New Habit
                </div>

            </div>
            <div class="extra content">
                <div id="addHabit" name = "addHabit" class="massive ui bottom attached button">

                        <i class="add icon"></i>
                        Add



                </div>
            </div>

        </div>



    </div>
</div>

<script type="text/javascript">
$('#addHabit').on('click', function () {
    window.location.href = '/chebit/list/add';
});

</script>
{{>layer/footer}}