
{{>layer/header}}
<style>
    h1.ui.center.header {
        margin-top: 3em;
    }
</style>


<div class="ui container">
    <h1 class="ui center aligned header">Check Your Today Habit</h1>
    <div class="ui two cards">
        <div class="card">
            <div class="content">
                <div class="header">Elliot Fu</div>
                <div class="description">
                    Elliot Fu is a film-maker from New York.
                </div>
            </div>
            <div class="massive ui bottom attached button">
                <i class="check circle icon"></i>
                Check
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Veronika Ossi</div>
                <div class="description">
                    Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
                </div>
            </div>
            <div class="ui bottom attached button">
                <i class="check circle outline icon"></i>
                Check
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Elliot Fu</div>
                <div class="description">
                    Elliot Fu is a film-maker from New York.
                </div>
            </div>
            <div class="massive ui bottom attached button">
                <i class="check icon"></i>
                Check
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Elliot Fu</div>
                <div class="description">
                    Elliot Fu is a film-maker from New York.
                </div>
            </div>
            <div class="massive ui bottom attached button">
                <i class="add icon"></i>
                Add Friend
            </div>
        </div>
    </div>
</div>


{{>layer/footer}}