
{{>layer/header}}
<style>
    h1.ui.center.header {
        margin-top: 3em;
    }
</style>


<div class="ui container">
    <h1 class="ui center aligned header">Check Your Today Habit</h1>
    <div class="ui two cards">
{{#list}}
    <div class="card">
        <div class="content">
            <div class="header">{{title}}</div>
            <div class="description">
                Memo Memo
            </div>
        </div>
        {{#isChecked}}
            <div class="massive ui disabled bottom attached button">
                <i class="check icon"></i>
                Checked
            </div>
        {{/isChecked}}
        {{^isChecked}}
            <div class="massive ui green bottom attached button">
                <i class="add icon"></i>
                Add Record
            </div>
        {{/isChecked}}

    </div>

{{/list}}



        <div class="card">
            <div class="content">
                <div class="header">Elliot Fu</div>
                <div class="description">
                    Elliot Fu is a film-maker from New York.
                </div>
            </div>
            <div class="massive ui bottom attached button">
                <i class="check icon"></i>
                Check
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Elliot Fu</div>
                <div class="description">
                    Elliot Fu is a film-maker from New York.
                </div>
            </div>
            <div class="massive ui bottom attached button">
                <i class="add icon"></i>
                Add Friend
            </div>
        </div>
    </div>
</div>


{{>layer/footer}}