
{{>layer/header}}


<style>
    h1.ui.center.header {
        margin-top: 3em;
    }
</style>


<div class="ui container">
    <h1 class="ui center aligned header">Check Your Today Habit</h1>
    <div class="ui two cards">
{{#list}}
    <div class="card">
        <div class="content">
            <div class="ui red right floated"><i class="check icon"></i>{{consecDays}}일 연속 진행중!!</div>
            <div class="header">{{title}}</div>
            <div class="description">
                Memo Memo
            </div>
        </div>
        {{#isChecked}}
            <div class="massive ui disabled bottom attached button">
                <i class="check icon"></i>
                Checked
            </div>
        {{/isChecked}}
        {{^isChecked}}
            <input type="hidden" value="{{id}}" id="habitId" name="habitId">
            <div class="massive ui green bottom attached button" id="addRecordDiv" name="addRecordDiv">
                <i class="add icon"></i>
                Add Record
            </div>
        {{/isChecked}}

    </div>

{{/list}}


        <div class="card">
            <div class="content">
                <div class="green right floated"><i class="check icon"></i>14일 연속 진행중</div>
                <div class="header">Elliot Fu</div>
                <div class="description">
                    Elliot Fu is a film-maker from New York.
                </div>
            </div>
            <div class="massive ui bottom attached button">
                <i class="check icon"></i>
                Check
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Elliot Fu</div>
                <div class="description">
                    Elliot Fu is a film-maker from New York.
                </div>
            </div>
            <div class="massive ui bottom attached button">
                <i class="add icon"></i>
                Add Friend
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#todayHabit").addClass("active");

    $("#addRecordDiv").on("click", function (event) {
        const id = $(event.target).prev().val();
        //습관id 갖고
        const data = {
            habitId : id,
            inputDate : makeRecordDate()
        };

        //ajax 요청 보내기
        $.ajax({
            type: 'POST',
            url: '/chebit/record',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data)
        }).done(function (event) {

            alert("습관 기록이 완료 되었습니다.");
            window.location.href = '/chebit/main';
        }).fail(function () {
            alert("오류가 발생 했습니다.");
        });
        //요청 후 성공이면 checkdiv 변경
    });

    function makeRecordDate() {
        const today = new Date();
        return today.getFullYear()+"-"+(today.getMonth()+1)+"-"+today.getDate();

    }

</script>


{{>layer/footer}}