{{>layer/header}}
<style type="text/css">
    body {
        background-color: #DADADA;
    }
    body > .grid {
        height: 100%;
    }
    .image {
        margin-top: -100px;
    }
    .column {
        max-width: 450px;
    }
</style>
<script>
    $(document).ready(function() {
                $('.ui.form')
                        .form({
                            fields: {
                                email: {
                                    identifier  : 'email',
                                    rules: [
                                        {
                                            type   : 'empty',
                                            prompt : 'Please enter your e-mail'
                                        },
                                        {
                                            type   : 'email',
                                            prompt : 'Please enter a valid e-mail'
                                        }
                                    ]
                                },
                                pwd: {
                                    identifier  : 'pwd',
                                    rules: [
                                        {
                                            type   : 'empty',
                                            prompt : 'Please enter your password'
                                        },
                                        {
                                            type   : 'length[2]',
                                            prompt : 'Your password must be at least 2 characters'
                                        }
                                    ]
                                }
                            }
                        })
                ;
            })
    ;
</script>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui purple header">
            <!--<img src="img/butter.png" class="image"> image -->
            Chebit :) Check Your Habit!
            <div class="content">

            </div>
        </h2>
        {{#message}}
        <form id="loginForm" class="ui large form error" action="/login" method="post" >
        {{/message}}
        {{^message}}
        <form id="loginForm" class="ui large form" action="/login" method="post" >
        {{/message}}

            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" id="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="pwd" id="pwd" placeholder="Password">
                    </div>
                </div>
                <div class="ui fluid large purple submit button">
                    Login
                    <!--                    <a href="/main"> Login</a>-->
<!--                    <button id="loginBtn" class="" type="submit">Login</button>-->
                </div>
            </div>

            <div class="ui error message">

                {{#message}}
                    <ul class="list">
                        <li>{{message}}</li>
                    </ul>
                {{/message}}
            </div>

        </form>

        <div class="ui message">
            New to us? <a href="/join">Sign Up</a>
        </div>
    </div>
</div>

<!--<script src="/js/login.js">
</script>-->

<script type="text/javascript">
    {{#joinSuccess}}
        alert("회원가입이 완료되었습니다. 로그인 해주세요 :)");
    {{/joinSuccess}}
</script>
{{>layer/footer}}