{{>layer/header}}


<style>
    h1.ui.center.header {
        margin-top: 3em;
    }

    .today {

        background: #2c662d!important;
        /*color: #2c662d!important;*/
    }


</style>


<div class="ui container">
    <h1 class="ui center aligned header">Weekly Habit</h1>
    <table class="ui definition table center aligned">
        <thead>
        <tr><th class="two wide"></th>
            {{#head}}
                <th class="two wide active">
                    <div class="ui {{color}} circular label">{{dayOfWeek}}</div>&nbsp&nbsp{{date}}
                </th>
            {{/head}}
        </tr></thead>
        <tbody>
        <!-- template -->
        {{#list}}
            <tr value="{{id}}">
                <td class="left aligned" id="titleTd" name="titleTd">{{title}}</td>
                {{#records}}
                    {{#isChecked}}
                    <td class="selectable" value="{{recDate}}" id="confirmRemove" name="confirmRemove">
                        <a href="#" onclick="return false;">
                            <i class="large yellow star icon"></i>
                        </a>
                    </td>
                    {{/isChecked}}
                    {{^isChecked}}
                    <td class="selectable" value="{{recDate}}" id="confirmRecord" name="confirmRecord">
                        <a href="#" onclick="return false;">
                            <i class="large grey star outline icon"></i>
                        </a>
                    </td>
                    {{/isChecked}}
                {{/records}}
            </tr>
        {{/list}}
        <!-- template end-->


        <!--<tr>
            <td class="left aligned">습관명2</td>
            <td class="selectable"><i class="large yellow star icon"></i></td>
            <td class="selectable"><i class="large yellow star icon"></i></td>
            <td class="selectable"><a href="#" onclick="return false;"><i class="large yellow star icon"></i></a></td>
            <td class="selectable "><i class="large yellow star icon"></i></td>
            <td class="selectable"><i class="large grey star outline icon"></i></td>
            <td class="selectable"><i class="large grey star outline icon"></i></td>
            <td class="selectable"><i class="large grey star outline icon"></i></td>
        </tr>-->
        </tbody></table>

</div>


<script type="text/javascript">
    $("#weeklyHabit").addClass("active");

    function setTodayColumn(){
        const today = "{{today}}";
        $("td.selectable").each(function () {
            const tdDate = $(this).attr('value');
            if(today == tdDate){
                $(this).addClass('active');  /*active */
            }
        });


    }
    setTodayColumn();

    $("table tr td#confirmRemove").on('click', function (event) {
        const recDate = $(this).attr('value');
        const habitId = $(this).parent('tr').attr('value');
        const title = $(this).siblings('#titleTd').text();
        const message = "["+title+"]의 "+recDate+" 기록을 삭제하시겠습니까?";
        const returnValue = confirm(message);
        if(returnValue){
            const data = {
                "habitId" : habitId,
                "recDate" : recDate

            };
            $.ajax({
                type: 'DELETE',
                url: '/chebit/weekly/record',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function (data) {
                alert("삭제 완료 되었습니다.");
                window.location.href = '/chebit/weekly';
            }).fail(function (data) {
                alert("오류가 발생했습니다. [message] : "+ data.message());
            });
        }
        return false;
    });
    $("table tr td#confirmRecord").on('click', function () {
        const recDate = $(this).attr('value');
        const habitId = $(this).parent('tr').attr('value');
        const title = $(this).siblings('#titleTd').text();
        const message = "["+title+"]의 "+recDate+" 기록을 남기시겠습니까?";
        const returnValue = confirm(message);
        if(returnValue){
            const data = {
                "habitId" : habitId,
                "recDate" : recDate
            };
            $.ajax({
                type: 'POST',
                url : "/chebit/weekly/record",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)

            }).done(function (result) {
                alert("추가가 완료 되었습니다.");
                window.location.href = '/chebit/weekly';
            }).fail(function (result) {
                alert(result.responseJSON.message);
                console.log(result.responseJSON.message);
                console.log(result);
            });

        }
        return false;
    });

    function testfunc(int) {

        console.log(int);
    }
    //테이블 버튼을 눌렀을때(기록이 없을때)
    //습관 id를 갖고 해당 날짜? 데이터(recDate)를 갖고 서버로 넘어가서 기록 입력

    //테이블 버튼을 눌렀을때(기록이 있을때)
    //습관 id를 갖고 해당 날짜 데이터(recDate)를 갖고 서버로 넘어가서 기록 삭제
</script>

{{>layer/footer}}