{{>layer/header}}


<style>
    h1.ui.center.header {
        margin-top: 3em;
    }

</style>


<div class="ui container">
    <h1 class="ui center aligned header">Weekly Habit</h1>
    <table class="ui definition table center aligned">
        <thead>
        <tr><th class="two wide"></th>
            <th class="two wide">일요일</th>
            <th class="two wide">월요일<div class="ui mini blue left pointing label">
                Today
            </div> </th>
            <th class="two wide">화요일</th>
            <th class="two wide">수요일</th>
            <th class="two wide">목요일</th>
            <th class="two wide"><a class="ui grey circular label">08/09</a> 토</th>
            <th class="two wide">8/9 <a class="ui blue circular label">토</a></th>
        </tr></thead>
        <tbody>
        <!-- template -->
        {{#list}}
            <tr value="{{id}}">
                <td class="left aligned">{{title}}</td>
                {{#records}}
                    <td class="selectable" value="{{recDate}}">
                    {{#isChecked}}
                        <i class="large green check circle icon"></i>
                    {{/isChecked}}
                    {{^isChecked}}
                        <i class="large grey check circle icon"></i>
                    {{/isChecked}}
                    </td>
                {{/records}}
            </tr>
        {{/list}}
        <!-- template end-->
        <tr value="13">
            <td class="left aligned">습관명1</td>
            <td class="selectable"><i class="large green check circle icon"></i></td>
            <td class="selectable"><i class="large grey check circle icon"></i></td>
            <td class="selectable"><i class="large grey check circle icon"></i></td>
            <td class="selectable"><i class="large grey check circle icon"></i></td>
            <td>None</td>
            <td>None</td>
            <td>None</td>
        </tr>

        <tr>
            <td class="left aligned">습관명2</td>
            <td>None</td>
            <td class="selectable"><i class="large grey check circle icon"></i></td>
            <td class="selectable"><a href="#"><i class="large green check circle icon button"></i></a></td>
            <td class="selectable "><i class="large grey check circle icon button"></i></td>
            <td class="selectable"><i class="large green check circle icon button"></i></td>
            <td class="selectable"><i class="large green check circle icon button"></i></td>
            <td class="selectable"><i class="large green check circle icon button"></i></td>
        </tr>
        </tbody></table>

</div>


<script type="text/javascript">
    $("#weeklyHabit").addClass("active");


    //테이블 버튼을 눌렀을때(기록이 없을때)
    //습관 id를 갖고 해당 날짜? 데이터(recDate)를 갖고 서버로 넘어가서 기록 입력

    //테이블 버튼을 눌렀을때(기록이 있을때)
    //습관 id를 갖고 해당 날짜 데이터(recDate)를 갖고 서버로 넘어가서 기록 삭제
</script>

{{>layer/footer}}